.card {
  border-radius: 20px;
  background-color: #f7eceb;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}

.card-img-top {
  height: 250px;
  width: 320px;
  border-radius: 20px;
  border-color: #;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.btnCard {
  border-radius: 20px;
  text-align: left;
  background-color: #545871;
}
.card-subtitle {
  margin-bottom: 10px;
  color: #797d7f;
}

body {
  background-color: #6b5d5d;
}
.col-sm-12 {
  padding: 0;
}
.btn-floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  background-color: #545871;
  color: #fff;
  border-radius: 50px;
}
.material-icons {
  margin-left: 2px;
  margin-top: 9px;
}
